@use "./sections/footer";

@use "./utilities/base";
@use "./utilities/main.scss";

.hero {
    width: 100%;
    height: 100vh;
    // padding: 20px;
    cursor: pointer;
    background: url("../images/pin.jpg") no-repeat center center/cover;

}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 7em;
    justify-content: flex-end;
    color: #000;
    font-weight: 700;


}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex-basis: 50%;
    position: relative;
}



.col {
    margin-top: 200px;
    font-size: 10px;
    font-weight: 600;
    // text-decoration: none;
    padding: 20px 50px;
    text-align: center;
    color: white;
}
