// .lence{
// text-align: center;
// padding-top: 3em;
// .paragraph{
//     font-weight: 100;
// }
// }

h5{
    font-size: 3em;
    text-align: center;
    margin-top: 2em;
    &:hover{
        cursor: pointer;
        color: pink;
      
    }
}
// .p{
//     display: flex;
//     justify-content: flex-end;
// }
.lence1{
    display: flex;
    justify-content: flex-end;
}
.heading{
    text-align: center;
    padding: 2em;
}
.paragraph{
    padding: 2em;
}
