.btn1{
    padding: .5em;
    border-radius: 0.5em;
    background: black;
    color: white;
    text-align: center;
    box-shadow: wheat;
    margin-bottom: 1.5em;
}
h1{
    text-decoration: line-through;
    margin-top: .5em;
}
p{
    margin-top: 1em;
    font-size: 2em;
    font-weight: 700;
}
