.img_nav{
padding: 2em 2em;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
.img_height{
    height: 50%;
}




}
.container{
    display: flex;
    justify-content: space-between;

}
.btn2{
    font-size: 1em;
    padding: .5em;
    background: black;
    color: white;
    border-radius: .5em;
    margin: 1em;
    padding: .5em;
 
}
