.main__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background: pink;
    
    
    ul{
        list-style-type: none;
    }
  }
  .icons{
    list-style-type: none;
  }